<div class="componente-formulario">
   
    <div class="cuadro_formulario">
        <p class="titulo_formulario">Registro de nuevos Clientes</p>
        <p class="subtitulo_formulario">¡Inscríbase ahora y aproveche nuestras promociones!</p>
        <form  [formGroup]="form" novalidate (ngSubmit)="save($event)">
            <div class="celda_formulario">
                <p>
                    Nombre:
                    <input type="text" formControlName="name">
                </p>
                <div *ngIf="nameField!.errors && nameField!.dirty">
                    <p class="aviso" *ngIf="nameField!.hasError('required')">
                        * Debe colocar un nombre
                    </p>
                </div>
            </div>
            <div class="celda_formulario">
                <p>
                    Telefono:
                 <!-- <input type="text" #ced (keyup.enter)="getCedul(ced.value)"   formControlName="cedula"> -->
                 <input type="text"  formControlName="cedula">
                </p>
                <div *ngIf="cedulaField!.errors &&   cedulaField!.dirty">
                    <p class="aviso" *ngIf="cedulaField!.hasError('required')">
                        * Debe colocar un número de 10 digitos
                    </p>
                    <p class="aviso" *ngIf="cedulaField!.hasError('pattern')">
                        * Debe contener números no letras
                    </p>
                    
                </div>
            </div>
            <div class="celda_formulario">
                <p>
                    Correo:
                    <input type="email" formControlName="email">
                </p>
                <div *ngIf="emailField!.errors && emailField!.dirty">
                    <p class="aviso" *ngIf="emailField!.hasError('required')">
                        * Debe colocar un correo
                    </p>
                    <p class="aviso" *ngIf="emailField!.hasError('email')">
                        * Debe colocar un correo válido
                    </p>
                </div>
            </div>
            <div class="celda_formulario">
                <p>
                    Sexo:
                    <select formControlName="persona">
                        <option value="Estudiante">Masculino</option>
                        <option value="Profesor">Femenino</option>
                        <option value="Profesional">Prefiero no decirlo</option>
                    </select>
                </p>
                <div *ngIf="personaField!.errors && personaField!.dirty">
                    <p class="aviso" *ngIf="personaField!.hasError('required')">
                        * Debe seleccionar el tipo de persona
                    </p>
                </div>
            </div>
        
            
            <div class="celda_botones">
                <button id="{{estiloBoton}}" type="submit" [disabled]="form.invalid || loading" (click)="register()">{{buttionText}}</button>  
                <button type="button" (click)="limpiar()" >Cancelar</button>  
            </div>
        </form>
    </div>
</div>