<div class="container">
    <div class="card">
            <div class="card-body">
                <span class="h3">
                    Lista de clientes
                </span>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-dark btn-lg me-md-2"> Agregar </button>
                  </div>
                <table class="table  table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Sexo</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Miguel</td>
                        <td>0987582755</td>
                        <td>miancastillo05@gmail.com</td>
                        <td>Hombre</td>
                        <td>
                            <i class="fas fa-user-edit fa-lg text-info"></i>
                            <i class="far fa-trash-alt fa-lg text-danger"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>Miguel Castillo </td>
                        <td>0987582755</td>
                        <td>miancastillo05@gmail.com</td>
                        <td>Hombre</td>
                        <td>
                            <i class="fas fa-user-edit fa-lg text-info"></i>
                            <i class="far fa-trash-alt fa-lg text-danger"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
    </div>
</div>
